/* GENERAL SETTINGS */

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}

body {
  background-color: var(--root-bg-color, black);
}

.app {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

p,
span,
ul,
li,
h1,
h2,
h3,
button,
strong,
a {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  color: var(--text-color, gray);
}

h1,
h2,
h3 {
  font-weight: 500;
  color: var(--title-color, white);
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

span {
  display: inline-block;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.col-2 {
  width: calc((100% / 12) * 2);
}

.icon-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

:root {
  --text-color: #646464;
  --title-color: #f8f8f8;
  --tool-bar-bg-color: #282828;
  --navbar-bg-color: #000000;
  --header-bg-color: #080b12;
  --root-bg-color: #141922;
  --green: #adff2f;
}

/* TOOLBAR */

.tool-bar {
  justify-content: space-between;
  align-items: center;
  position: fixed;
  min-height: 10vh;
  bottom: 0;
  left: 0;
  background-color: var(--tool-bar-bg-color);
  width: 100%;
  padding: 20px 3px;
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
}

.tool-bar img {
  width: 28px;
  border-radius: 2px;
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
}

.song-info-container {
  align-items: center;
  gap: 5px;
}

.tool-bar img,
.tool-bar span,
.tool-bar i,
.tool-bar h3 {
  cursor: pointer;
}

.song-info,
.song-icons {
  align-items: center;
}

.song-info {
  gap: 13px;
}

.song-icons {
  flex-direction: column;
  gap: 5px;
}

.song-icons .icon-wrapper i {
  color: var(--text-color);
  font-size: 16px;
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
}

.song-icons .icon-wrapper:hover i {
  color: white;
}

.song-info .flex {
  flex-direction: column;
  gap: 4px;
}

.song-info .flex h3,
span {
  line-height: 1;
}

.song-info .flex h3 {
  font-size: 14px;
  font-weight: 600;
}

.song-info .flex span {
  font-size: 12px;
  font-weight: 500;
  max-width: 20px;
  transition: 0.1s all linear;
  -webkit-transition: 0.1s all linear;
}

.song-info .flex span:hover {
  text-decoration: underline;
  color: white;
}

.song-main-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.song-player {
  gap: 10px;
  align-items: center;
}

.song-player span {
  color: white;
  font-size: 10px;
  font-weight: 500;
}

.player-bar {
  width: calc(15px + 20vw);
  height: 5px;
  position: relative;
  background-color: var(--text-color);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  max-width: 425px;
}

.song-audio-container {
  gap: 6px;
  font-size: 12px;
  color: white;
  align-items: center;
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
}

.volume-bar {
  width: 11vw;
  height: 5px;
  position: relative;
  background-color: var(--text-color);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  max-width: 115px;
}

.flow-time {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  height: 5px;
  width: 40%;
  border-radius: 8px;
  transition: 0.1s all linear;
  -webkit-transition: 0.1s all linear;
}

.player-flow-time {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  height: 5px;
  width: 0%;
  border-radius: 8px;
  animation: player 261s linear infinite;
  animation-delay: 2s;
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
}

.flow-time::after {
  content: "";
  display: table;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(5px, -3.5px);
}

.volume-bar:hover .flow-time,
.player-bar:hover .flow-time {
  background-color: #adff2f;
}

.volume-bar:hover .flow-time::after,
.player-bar:hover .flow-time::after {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: 0.1s background-color linear;
  -webkit-transition: 0.1s background-color linear;
}

.song-main-container > .flex:first-of-type {
  gap: 12px;
  color: white;
  font-size: 16px;
  align-items: center;
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
}

.fa-circle-play {
  font-size: 25px;
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
}

.tool-bar .fa-circle-play:hover {
  transform: scale(1.2);
}

/* ASIDE SECTION */

aside {
  background-color: var(--navbar-bg-color, black);
  position: fixed;
  top: 0;
  left: 0;
  height: 90vh;
  width: 50px;
  padding: 10px;
  padding-bottom: 40px;
}

.logo-small {
  width: 100%;
}

.aside-container {
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

aside .flex {
  flex-direction: column;
}

.cta-container {
  gap: 10px;
  justify-content: center;
}

.cta-container .icon-wrapper {
  cursor: pointer;
}

.cta-container img:not(.home) {
  filter: invert(50%);
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
}

.cta-container img:hover:not(.home) {
  filter: invert(0%);
}

.profile-container {
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.download-icon {
  transform: translateX(-2.5px);
  cursor: pointer;
  filter: invert(50%);
  width: 22px;
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
}

.download-icon:hover {
  filter: invert(0%);
}

.profile-wrapper {
  background-color: gray;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.profile-wrapper img {
  aspect-ratio: 1/1;
  transform: scale(1.1);
  width: 20px;
}

.logo-container {
  margin-bottom: 20px;
  cursor: pointer;
}

.logo {
  display: none;
}

.aside-container h3,
.aside-container span {
  display: none;
}

/* MAIN CONTENT */

main {
  position: absolute;
  overflow: auto;
  top: 0;
  left: 50px;
  height: 100%;
  width: calc(100vw - 50px);
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

main::-webkit-scrollbar {
  scrollbar-width: thin;
  background-color: var(--text-color);
  width: 0px;
}

.upgrade-container {
  background-color: var(--header-bg-color);
  padding: 22px 20px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.upgrade-btn {
  background-color: var(--header-bg-color);
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 60px;
  padding: 10px 25px;
  font-weight: 600;
  font-size: 9px;
  cursor: pointer;
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
}

.upgrade-btn:hover {
  background-color: var(--root-bg-color);
  transform: scale(1.1);
}

.container {
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 200px;
  width: 100%;
}

.main-nav {
  flex-wrap: wrap;
  row-gap: 35px;
  text-align: center;
}

.main-nav li {
  width: calc(100% / 4);
  font-size: 10px;
  font-weight: 600;
  margin: 0 auto;
}

.main-nav li span {
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  cursor: pointer;
  white-space: nowrap;
}

.main-nav li span:hover {
  color: white;
}

.main-nav li:first-child span {
  position: relative;
}

.main-nav li:first-child span::after {
  content: "";
  display: table;
  position: absolute;
  bottom: -6px;
  left: 16px;
  height: 1.5px;
  width: 32px;
  border-radius: 3px;
  background-color: var(--green);
}

.row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 40px;
}

.container .row-title {
  margin: 25px 0px;
}

.container .row-title h2 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 3px;
}

.container .row-title span {
  font-size: 12px;
  font-weight: 600;
  color: var(--text-color);
}

.col {
  width: calc(50% - 10px);
  text-align: center;
}

figure img {
  width: 100%;
  border-radius: 3px;
}

.text-section {
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.text-section h3 {
  margin-top: 12px;
  font-weight: 700;
  font-size: 14px;
}

.text-section span {
  font-size: 11px;
}

.circle {
  border-radius: 50%;
}

main figure {
  position: relative;
  cursor: pointer;
}

main .fa-circle-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: invert(100%);
  font-size: 50px;
  opacity: 0;
  transition: 0.3s linear all;
  transition-delay: 0.1s;
  -webkit-transition: 0.3s linear all;
  -webkit-transition-delay: 0.1s;
}

main figure:hover .fa-circle-play {
  opacity: 1;
}

/* MEDIA */
@media (min-width: 576px) {
  /* TOOLBAR | MEDIA */
  .song-main-container > .flex:first-of-type {
    justify-content: space-between;
    min-width: 60%;
  }
  .tool-bar {
    padding: 20px 10px;
  }
}

@media (min-width: 768px) {
  /* TOOLBAR | MEDIA */
  .player-bar {
    width: calc(10px + 30vw);
  }

  .volume-bar {
    width: 13vw;
  }

  .song-audio-container {
    gap: 10px;
  }

  .song-info {
    gap: 14px;
  }

  .song-icons {
    gap: 7px;
  }

  .song-main-container {
    gap: 15px;
  }

  .song-player {
    gap: 14px;
  }

  .song-info-container {
    align-items: center;
    gap: 25px;
  }

  .song-info .flex span {
    max-width: unset;
  }

  .tool-bar img {
    width: 38px;
  }

  .song-main-container > .flex:first-of-type .icon-wrapper {
    font-size: 18px;
  }

  .song-audio-container {
    font-size: 14px;
  }

  .fa-circle-play {
    font-size: 30px;
  }

  .song-icons .icon-wrapper i {
    font-size: 18px;
  }
  .volume-bar:hover .flow-time::after,
  .player-bar:hover .flow-time::after {
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: 0.1s background-color linear;
    -webkit-transition: 0.1s background-color linear;
  }
  .flow-time::after {
    content: "";
    display: table;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(7.5px, -6px);
  }
  /* ASIDE SECTION | MEDIA */

  .aside-container h3,
  .aside-container span {
    display: inline-block;
  }

  aside {
    height: 90vh;
    width: 230px;
    padding: 20px 24px;
  }

  .logo-small {
    display: none;
  }

  .logo {
    display: inline-block;
    width: 135px;
  }

  .profile-wrapper {
    width: 20px;
  }

  .cta-container .icon-wrapper {
    cursor: pointer;
    width: 25px;
  }

  aside .flex .cta-box {
    flex-direction: row;
  }

  .cta-container h3 {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
  }

  .cta-container h3:not(.home-btn) {
    color: var(--text-color);
  }

  .cta-box {
    width: fit-content;
  }

  .cta-box:hover h3 {
    color: white;
  }

  .cta-box:hover .icon-wrapper img {
    filter: invert(0%);
  }

  .cta-box {
    gap: 10px;
    align-items: center;
  }

  .home-wrapper {
    position: relative;
  }

  .home-wrapper::before {
    content: "";
    display: table;
    position: absolute;
    background-color: var(--green);
    height: 32px;
    width: 3px;
    left: -24px;
    top: -3.5px;
    border-radius: 2px;
  }

  .cta-container {
    margin-bottom: 28px;
  }

  .playlist-container {
    gap: 20px;
  }

  .playlist-container h3 {
    line-height: 1;
    color: var(--text-color);
    font-size: 15px;
    transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
  }

  .playlist-container .playlist-title {
    color: white;
    font-weight: 600;
    font-size: 15px;
  }

  .plus-icon {
    background-color: var(--text-color);
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    border-radius: 2px;
    transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
  }

  .playlist-container .new-playlist {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  .playlist-container .new-playlist:hover .plus-icon {
    background-color: white;
  }

  .playlist-container .new-playlist:hover h3 {
    color: white;
  }

  .playlist {
    gap: 23px;
  }

  .playlist span {
    font-weight: 600;
    font-size: 14px;
    transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
    cursor: pointer;
  }

  .playlist span:hover {
    color: white;
  }

  .profile-container {
    gap: 25px;
  }

  .profile-container .flex {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .profile-container span {
    font-weight: 600;
    font-size: 14px;
    transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
    cursor: pointer;
  }

  .profile-container span:hover {
    color: white;
  }

  .download-box {
    position: relative;
  }

  .download-box::after {
    content: "";
    display: table;
    position: absolute;
    background-color: var(--text-colo, gray);
    height: 2px;
    width: 100%;
    bottom: -12.5px;
    border-radius: 5px;
    left: 0;
  }

  .profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    cursor: pointer;
    transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
  }

  .profile-wrapper:hover {
    background-color: rgb(226, 226, 226);
  }

  .profile-wrapper img {
    transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
  }

  .profile-wrapper:hover img {
    filter: invert(70%);
  }

  .aside-container {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  .aside-container::-webkit-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    width: 0px;
    height: 0px;
  }

  .playlist {
    padding-bottom: 50px;
  }

  .profile-container {
    padding-bottom: calc(100px - 10vh);
  }

  /* MAIN CONTENT | MEDIA */

  main {
    position: absolute;
    overflow: auto;
    top: 0;
    width: calc(100vw - 230px);
    left: 230px;
    height: 100%;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  main::-webkit-scrollbar {
    scrollbar-width: thin;
    background-color: var(--text-color);
    width: 0px;
  }

  .upgrade-container {
    padding: 28px 25px;
  }

  .upgrade-btn {
    padding: 15px 40px;
    font-size: 12px;
  }

  .container {
    margin: 0 auto;
    padding: 22px;
    padding-bottom: 200px;
    width: 100%;
  }

  .main-nav li {
    width: calc(100% / 3);
    font-size: 12px;
  }
  .main-nav li:first-child span::after {
    width: 40px;
  }

  .col {
    width: calc((100% / 4) - 6px);
  }

  .row {
    column-gap: 8px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  /* TOOLBAR | MEDIA */
  .tool-bar img {
    width: 50px;
  }
  .song-main-container > .flex:first-of-type {
    min-width: 45%;
  }
  .song-info-container {
    gap: 55px;
  }
  .song-icons {
    flex-direction: row;
    gap: 20px;
  }

  .song-main-container {
    gap: 15px;
  }
  .song-player {
    gap: 30px;
  }
  .song-player span {
    font-size: 11px;
  }
  .song-audio-container {
    gap: 20px;
  }
  .song-info .flex h3 {
    font-size: 16px;
  }

  .song-info .flex span {
    font-size: 14px;
  }

  /* MAIN CONTENT | MEDIA */

  .main-nav li {
    width: calc(100% / 6);
    font-size: 15px;
  }

  .main-nav {
    margin-bottom: 50px;
  }

  .main-nav li:first-child span::after {
    width: 60px;
  }
  .col {
    width: calc((100% / 6) - 15px);
  }

  .row {
    column-gap: 16px;
  }
}

@media (min-width: 1400px) {
}

/* KEYFRAMES */

@keyframes player {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: var(--green) transparent var(--green) transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #000;
  z-index: 1;
}
